.App{
 width: 100%;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url('https://www.munitingomaria.gob.pe/mplp/sites/default/files//Tingo%20Mar%C3%ADa%20009_2.jpg');
 background-repeat: no-repeat;
 background-position: center;

}

.card{
    background: red;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    padding: 2em;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card__title{
    grid-column: span 2;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}
.card__subtitle{
    grid-column: span 2;
    text-align: center;
    margin-bottom: .5em;
}